body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
  }
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -250px; /* Nascosto a sinistra */
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out; /* Animazione sliding */
    z-index: 1000;
  }
  .menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #f4f4f4;
  }
  .menu a:hover {
    background-color: #f4f4f4;
  }
  h1 {
    text-align: center;
    margin-top: 100px;
  }
  .menu-open {
    left: 0; /* Mostra il menu spostandolo a sinistra */
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
  }
  .overlay-active {
    display: block;
  }